#musicCards{
  margin-top: 40px;
  border: none;
}

.col-md-3{
  margin-bottom: 10px;
  width: fit-content;
  height: fit-content;
}

.row {
  height: fit-content;
}

hr{
  border: 0;
  border-top: 0.7px solid #000000;
  border-bottom: 1px solid #939090;
  width: 100%;
}

.footer{
  margin-bottom: 30px;
}

.footerLink{
  letter-spacing: 1.5px;
}

.footerLink span{
  font-size: 8px;
}

.footerInner .footerLink a{
  text-decoration: none;
  color: black;
  font-family: Andale Mono, monospace;
  font-weight: 600;
}

.footerInner{
  display: flex;
}

.card-title, .card-text{
  font-family: Andale Mono, monospace;
}

#bcCardTx{
  line-height: 2.0;
}

@media screen and (max-width: 480px) { 
  .col-md-3 {
    margin-top: 40px;
  }
}

.row h4{
  font-weight: bolder;
}

#sb2023{
  font-size: 15.2px;
}

#A{
  margin-bottom: -8px;
}